<!DOCTYPE html>
<html lang="$lang$">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="noindex, nofollow" />
  <title>$title$</title>
  $if(subtitle)$<meta name="description" content="$subtitle$" />$endif$
  <link rel="preload" href="../styles/style.css" as="style" />
  <link href="../styles/style.css" rel="stylesheet" />
  $if(image)$<meta property="og:title" content="$title$" />
  $if(subtitle)$<meta name="og:description" content="$subtitle$" />$endif$
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://mordenkainen.com/docs/pages/$permalink$.html" />
  <meta property="og:image" content="https://mordenkainen.com/docs/images/$image.url$" />
  <link rel="preload" as="image" href="$image.url$" />$endif$
</head>
<body>
  <nav>
    <div class="container">
      <p><a href="https://mordenkainen.com/" class="text-bold text-uppercase">Mordenkainen</a> / <a href="../index.html" lang="en-US">My Documents</a> / $title$</p>
    </div>
  </nav>
  <header>
    <div class="container text-center">
      <h1 class="text-uppercase">$title$</h1>
      <p><strong>$subtitle$</strong></p>
    </div>
  </header>
  <main>
    <section>
      <div class="container">
        $if(image)$<div class="image-group" aria-hidden="true">
          <div class="image-frame">
            <div id="image" class="image" data-image-url="../images/$image.url$"></div>
          </div>
          $if(image.caption)$<p class="image-caption">$image.caption$</p>$endif$
        </div>$endif$
        $body$
      </div>
    </section>
  </main>
  <footer>
    <div class="container text-center text-small">
      <p><a href="../index.html" lang="en-US">My Documents</a></p>
      <hr />
      <p>© Mordenkainen | <a href="https://mordenkainen.com/">mordenkainen.com</a></p>
    </div>
    <script src="../scripts/main.js" defer></script>
  </footer>
</body>
</html>
