<!DOCTYPE html>
<html lang="$lang$">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="noindex, nofollow" />
  <title>$title$</title>
  <link rel="preload" href="../styles/style.css" as="style" />
  <link href="../styles/style.css" rel="stylesheet" />
</head>
<body>
  <header>
    <div class="container text-center">
      <h1 class="text-uppercase">$title$</h1>
      <p><strong>$subtitle$</strong></p>
    </div>
  </header>
  <main>
    <section>
      <div class="container">
        $body$
      </div>
    </section>
  </main>
  <footer>
    <div class="container text-center text-small">
      <p>© Robson Niemeyer</p>
    </div>
  </footer>
</body>
</html>
